In [ ]:
import pandas as pd
import numpy as np
import matplotlib as pyplot

In [ ]:
movies =pd.read_csv('/content/Movies Recommendation.csv')
movies.head(10)

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
5,6,Dancer in the Dark,Drama Crime Music,en,12800000,22.022228,17-05-2000,40031879,140.0,7.6,...,NaN,individual dancing usa robbery factory worker,"Selma, a Czech immigrant on the verge of blind...","[{""name"": ""Fine Line Features"", ""id"": 8}, {""na...","[{""iso_3166_1"": ""AR"", ""name"": ""Argentina""}, {""...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",You don't need eyes to see.,Bj\u00f6rk Catherine Deneuve David Morse Peter...,"[{'name': 'Lars von Trier', 'gender': 2, 'depa...",Lars von Trier
6,7,The Fifth Element,Adventure Fantasy Action Thriller Science Fiction,en,90000000,109.528572,07-05-1997,263920180,126.0,7.3,...,NaN,clone taxi cyborg egypt future,"In 2257, a taxi driver is unintentionally give...","[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}]","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",There is no future without it.,Bruce Willis Gary Oldman Ian Holm Milla Jovovi...,"[{'name': 'Luc Besson', 'gender': 2, 'departme...",Luc Besson
7,8,Metropolis,Drama Science Fiction,de,92620000,32.351527,10-01-1927,650422,153.0,8.0,...,NaN,man vs machine underground world inventor metr...,In a futuristic city sharply divided between t...,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}]","[{""iso_639_1"": ""xx"", ""name"": ""No Language""}]",There can be no understanding between the hand...,Brigitte Helm Alfred Abel Gustav Fr\u00f6hlich...,"[{'name': 'Erich Pommer', 'gender': 2, 'depart...",Fritz Lang
8,9,My Life Without Me,Drama Romance,en,4000000,7.958831,07-03-2003,9726954,106.0,7.2,...,http://www.clubcultura.com/clubcine/clubcineas...,farewell responsability dying and death night ...,A Pedro Almodovar production in which a fatall...,"[{""name"": ""El Deseo"", ""id"": 49}, {""name"": ""Mil...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",NaN,Sarah Polley Amanda Plummer Scott Speedman Leo...,"[{'name': 'Isabel Coixet', 'gender': 1, 'depar...",Isabel Coixet
9,10,Pirates of the Caribbean: The Curse of the Bla...,Adventure Fantasy Action,en,140000000,271.972889,09-07-2003,655011224,143.0,7.5,...,http://disney.go.com/disneyvideos/liveaction/p...,exotic island blacksmith east india trading co...,"Jack Sparrow, a freewheeling 17th-century pira...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Prepare to be blown out of the water.,Johnny Depp Geoffrey Rush Orlando Bloom Keira ...,"[{'name': 'Arthur Schmidt', 'gender': 2, 'depa...",Gore Verbinski

In [ ]:
movies.shape

(4760, 21)

In [ ]:
movies =movies[['Movie_ID', 'Movie_Title', 'Movie_Overview', 'Movie_Genre']]

In [ ]:
movies.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
import ast

In [ ]:
def convert(text):
  l=[]
  for i in ast.literal_eval(text):
    l.append(i['name'])
  return l

In [ ]:
movies = pd.DataFrame({
    'Movie_Cast': [
        'Tim Roth, Antonio Banderas, Jennifer Beals, Madonna, Marisa Tomei',
        'Tom Hanks, Meg Ryan',
        'Brad Pitt, Angelina Jolie'
    ]
})
def convert(cast):
    # Split the string by ', ' to get a list of names
    return cast.split(', ')

In [ ]:
print(movies['Movie_Cast'].head())

0    Tim Roth, Antonio Banderas, Jennifer Beals, Ma...
1                                  Tom Hanks, Meg Ryan
2                            Brad Pitt, Angelina Jolie
Name: Movie_Cast, dtype: object

In [ ]:
def convert(cast):
    if isinstance(cast, str):
        return cast.split(', ')
    else:
        return []

In [ ]:
movies['Movie_Cast']=movies['Movie_Cast'].apply(convert)
movies.head()

                                          Movie_Cast
0  [Tim Roth, Antonio Banderas, Jennifer Beals, M...
1                              [Tom Hanks, Meg Ryan]
2                        [Brad Pitt, Angelina Jolie]

In [ ]:
movies = pd.DataFrame({
    'Movie_Keywords': [
        'action, adventure, thriller',
        'romance, drama',
        'comedy, family'
    ]
})
def convert(keywords):
    if isinstance(keywords, str):
        return keywords.split(', ')
    else:
        return []
movies['Movie_Keywords'] = movies['Movie_Keywords'].apply(convert)

print(movies)

                  Movie_Keywords
0  [action, adventure, thriller]
1               [romance, drama]
2               [comedy, family]

In [ ]:
movies['Movie_Keywords']=movies['Movie_Keywords'].apply(convert)

In [ ]:
print(movies['Movie_Keywords'].head())

0    []
1    []
2    []
Name: Movie_Keywords, dtype: object

In [ ]:
def convert3(text):
  l=[]
  counter=0
  for i in ast.literal_eval(text):
    if coynter<3:
      l.append(i['name'])
      return l

In [ ]:
def convert(cast):
    return cast.split(', ')
    movies['Movie_Cast'] = movies['Movie_Cast'].apply(convert)
    movies['Movie_Cast']=movies['Movie_Cast'].apply(lambda x:x[0:3])
    print(movies['Movie_Cast']).head()

In [ ]:
def fetch_director(text):
  l=[]
  for i in ast.literal_eval(text):
    if i['job']=='Director':
      l.append(i['name'])
      return l

In [ ]:
 movies = pd.DataFrame({
    'Movie_Crew':
        [['Steven Spielberg', 'John Williams'],
        'Martin Scorsese, Robert De Niro',
        'Quentin Tarantino' ]
})

def fetch_director(crew):
    if isinstance(crew, list):
        return crew[0] if len(crew) > 0 else None
    elif isinstance(crew, str):
        return crew.split(',')[0].strip() if len(crew) > 0 else None
    else:
        return None
if 'Movie_Crew' in movies.columns:
    movies['Movie_Crew'] = movies['Movie_Crew'].apply(fetch_director)
else:
    print("Column 'Movie_Crew' not found in DataFrame.")

print(movies)

          Movie_Crew
0   Steven Spielberg
1    Martin Scorsese
2  Quentin Tarantino

In [ ]:
def collapse(L):
  L=[]
  for i in L:
    L.append(i.replace(" ", " "))
    return L

In [ ]:
print(movies.columns)

Index(['Movie_Keywords'], dtype='object')

In [ ]:
if 'movie_cast' in movies.columns:
    movies['movie_cast'] = movies['movie_cast'].apply(collapse)
if 'movie_keywords' in movies.columns:
    movies['movie_keywords'] = movies['movie_keywords'].apply(collapse)
if 'movie_genre' in movies.columns:
    movies['movie_genre'] = movies['movie_genre'].apply(collapse)

In [ ]:
def collapse(x):
    if isinstance(x, list):
        return ', '.join(x)
    else:
        return x

In [ ]:
for column in ['Movie_Cast', 'Movie_Keywords', 'Movie_Genre']:
    if column in movies.columns:
        movies[column] = movies[column].apply(collapse)
    else:
        print(f"Column '{column}' not found in DataFrame.")

print(movies)

Column 'Movie_Cast' not found in DataFrame.
Column 'Movie_Genre' not found in DataFrame.
  Movie_Keywords
0
1
2

In [ ]:
movies = pd.DataFrame({
    'Movie_Cast': [['Tim Roth', 'Antonio Banderas', 'Jennifer Beals'], ['Tom Hanks', 'Meg Ryan'], ['Brad Pitt', 'Angelina Jolie']],
    'Movie_Keywords': [['action', 'thriller'], ['romance', 'drama'], ['comedy', 'family']],
    'Movie_Genre': [['comedy', 'family'], ['drama', 'romance'], ['action', 'thriller']]
})

def collapse(x):
    if isinstance(x, list):
        return ', '.join(x)
    else:
        return x

for column in ['Movie_Cast', 'Movie_Keywords', 'Movie_Genre']:
    if column in movies.columns:
        movies[column] = movies[column].apply(collapse)
    else:
        print(f"Column '{column}' not found in DataFrame.")

print(movies)

                                   Movie_Cast    Movie_Keywords  \
0  Tim Roth, Antonio Banderas, Jennifer Beals  action, thriller
1                         Tom Hanks, Meg Ryan    romance, drama
2                   Brad Pitt, Angelina Jolie    comedy, family

        Movie_Genre
0    comedy, family
1    drama, romance
2  action, thriller

In [ ]:
movies = pd.DataFrame({
    'Movie_Overview': [
        'A thrilling adventure in a distant land.',
        'A heartwarming story of love and friendship.',
        'An epic saga of heroism and betrayal.'
    ]
})

print("Columns in DataFrame:", movies.columns)

print("Data type of 'Movie_Overview':", movies['Movie_Overview'].dtype)


movies['Movie_Overview'] = movies['Movie_Overview'].apply(lambda x: x.split())

print(movies)

Columns in DataFrame: Index(['Movie_Overview'], dtype='object')
Data type of 'Movie_Overview': object
                                      Movie_Overview
0   [A, thrilling, adventure, in, a, distant, land.]
1  [A, heartwarming, story, of, love, and, friend...
2      [An, epic, saga, of, heroism, and, betrayal.]

In [ ]:
movies = pd.DataFrame({
    'Movie_Overview': ['A thrilling adventure in a distant land.', 'A heartwarming story of love and friendship.'],
    'Movie_Keywords': ['action, thriller', 'romance, drama'],
    'movie_cast': ['Tim Roth, Antonio Banderas', 'Tom Hanks, Meg Ryan'],
    'Movie_Crew': ['Steven Spielberg, John Williams', 'Martin Scorsese, Robert De Niro']
})
movies['Movie_Overview'] = movies['Movie_Overview'].apply(lambda x: x.split())
movies['Movie_Keywords'] = movies['Movie_Keywords'].apply(lambda x: x.split(', '))
movies['movie_cast'] = movies['movie_cast'].apply(lambda x: x.split(', '))
movies['Movie_Crew'] = movies['Movie_Crew'].apply(lambda x: x.split(', '))

def concatenate_lists(row):
    return row['Movie_Overview'] + row['Movie_Keywords'] + row['movie_cast'] + row['Movie_Crew']

movies['Movie_Tagline'] = movies.apply(concatenate_lists, axis=1)
print(movies)

                                      Movie_Overview      Movie_Keywords  \
0   [A, thrilling, adventure, in, a, distant, land.]  [action, thriller]
1  [A, heartwarming, story, of, love, and, friend...    [romance, drama]

                     movie_cast                         Movie_Crew  \
0  [Tim Roth, Antonio Banderas]  [Steven Spielberg, John Williams]
1         [Tom Hanks, Meg Ryan]  [Martin Scorsese, Robert De Niro]

                                       Movie_Tagline
0  [A, thrilling, adventure, in, a, distant, land...
1  [A, heartwarming, story, of, love, and, friend...

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
cv= CountVectorizer(max_features=5000, stop_words='english')

In [ ]:
new = pd.DataFrame({
    'Movie_Tagline': [
        'A thrilling adventure in a distant land.',
        'A heartwarming story of love and friendship.',
        'An epic saga of heroism and betrayal.'
    ]
})

In [ ]:
vector=cv.fit_transform(new['Movie_Tagline']).toarray()

In [ ]:
print("Feature Names:", cv.get_feature_names_out())
print("Vectorized Data:", vector)

Feature Names: ['adventure' 'betrayal' 'distant' 'epic' 'friendship' 'heartwarming'
 'heroism' 'land' 'love' 'saga' 'story' 'thrilling']
Vectorized Data: [[1 0 1 0 0 0 0 1 0 0 0 1]
 [0 0 0 0 1 1 0 0 1 0 1 0]
 [0 1 0 1 0 0 1 0 0 1 0 0]]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [ ]:
def Recommendation(movie):
    try:
        index = new[new['Movie_Title'] == movie].index[0]
    except IndexError:
        print(f"Movie '{movie}' not found in the dataset.")
        return
    if 'similarity' not in globals():
        print("Similarity matrix is not defined.")
        return
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]]['Movie_Title'])
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector, vector)

In [ ]:
new = pd.DataFrame({
    'Movie_Title': ['Finding Nemo', 'The Lion King', 'Toy Story', 'Monsters Inc.', 'Finding Dory']
})
print("Column names in DataFrame:", new.columns)
def Recommendation(movie):
    if 'Movie_Title' not in new.columns:
        print("Error: 'Movie_Title' column is missing in the DataFrame.")
        return

    try:
        index = new[new['Movie_Title'] == movie].index[0]
    except IndexError:
        print(f"Movie '{movie}' not found in the dataset.")
        return
    if 'similarity' not in globals():
        print("Error: Similarity matrix is not defined.")
        return
    distances = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])

    for i in distances[1:6]:
        print(new.iloc[i[0]]['Movie_Title'])
similarity = [
    [1.0, 0.8, 0.6, 0.3, 0.4],
    [0.8, 1.0, 0.7, 0.4, 0.5],
    [0.6, 0.7, 1.0, 0.5, 0.6],
    [0.3, 0.4, 0.5, 1.0, 0.4],
    [0.4, 0.5, 0.6, 0.4, 1.0]
]

Recommendation('Finding Nemo')

Column names in DataFrame: Index(['Movie_Title'], dtype='object')
The Lion King
Toy Story
Finding Dory
Monsters Inc.